body{
    background-color: #101922;
    color: #ffffff;
    font-size: 30px;
}
a{
    color: #ffffff;
    padding-right: 60px;
    text-decoration: none;
}
#cc{
    font-size: 15px;
}

.card {
    width: min-content;
    color: #000;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
}
 .card-container {
    margin-left: auto;
    display: grid;
    gap: 15px; 
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}
img{
    width: 300px;
    height: 150px;
}
@media (max-width: 768px) {
    .card-container  {
        grid-template-columns: repeat(2, 1fr); /* Две колонки */
    }
}

/* Адаптация для телефонов */
@media (max-width: 480px) {
    .card-container  {
        grid-template-columns: 1fr; /* Одна колонка */
    }
}