body{
    background-color: #101922;
    color: #ffffff;
    font-size: 30px;
}
a{
    color: #ffffff;
    padding-right: 60px;
    text-decoration: none;
}
#cc{
    font-size: 15px;
}

.card {
    width: min-content;
    color: #000;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
}
 .card-container {
    margin-left: auto;
    display: grid;
    gap: 15px; 
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}
img{
    width: 300px;
    height: 150px;
}
/* From Uiverse.io by Yaya12085 */ 
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 40px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #00000046;
  font-weight: 600;
}
#game{
    display: none;
}
@media (max-width: 768px) {
    .card-container  {
        grid-template-columns: repeat(2, 1fr); /* Две колонки */
    }
}

/* Адаптация для телефонов */
@media (max-width: 480px) {
    .card-container  {
        grid-template-columns: 1fr; /* Одна колонка */
    }
}